@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro&display=swap');

*{
    font-family: 'Lato', sans-serif !important;
    font-family: 'Source Sans Pro', sans-serif !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.form-crud{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 50% !important;

}